#navigation 
{
	float: left;
	width: 100%;
}

#navigation ul
{
	
	display:flex;
	justify-content:space-between; 
	flex-direction:row;
	margin: 10px;
	padding-left: 130px; padding-right:130px;
}

#navigation ul li
{
	list-style-type: none;
	display: inline;
}

#navigation li a
{
	/*display: block;*/
	/*float: left;*/
	padding: 10px 25px;
	color: #FFF;
	text-decoration: none;
	border-right: 0px solid#fff;
}

#navigation li a:hover 
{ 
    border: 1px solid #845695;
    text-underline-offset: 7px;
    text-decoration: underline #845695 2px;
    border-radius: 7px;
	color: #fff
}