.welcome{
    margin-top: -180px;
    margin-bottom: 200px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 24px;
    display: flex;
    align-items: center;
    text-align: center;
    color: rgba(0, 0, 0, 0.4);
}
#email{
    box-sizing: border-box;
    position: absolute;
    margin-top: -240px;
    margin-left: 120px;
    width: 500px;
    height: 53px;
    background: linear-gradient(180deg, rgba(0, 209, 255, 0.256) 0%, rgba(0, 209, 255, 0) 52.08%);
    border: 1px solid #000000;
    border-radius: 15px;
}
#password{
    box-sizing: border-box;
    
    position: absolute;
    width: 500px;
    height: 53px;
    margin-top: -60px;
    margin-left: 120px;
    background: linear-gradient(180deg, rgba(0, 209, 255, 0.256) 0%, rgba(0, 209, 255, 0) 52.08%);
    border: 1px solid #000000;
    border-radius: 15px;
}
.name{
    position: absolute;
    width: 367px;
    height: 33px;
    margin-top: -320px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #000000;

}
.password{
    position: absolute;
    width: 367px;
    height: 33px;
    margin-top: -145px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #000000;
}
.but{
    box-sizing: border-box;
    position: absolute;
    width: 141px;
    height: 53px;
    margin-top: 150px;
    margin-left: 490px;
    background: linear-gradient(180deg, rgba(0, 209, 255, 0) 0%, #00D1FF 100%);
    background-blend-mode: hard-light;
    border: 1px solid #000000;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
}