.welcome{
  margin-top: -110px;
  margin-bottom: 10px;
  font-size: 25px;
  line-height: 24px;

  color: rgba(0, 0, 0, 1);
}
#username{
  box-sizing: border-box;
color: #6d6d6d;
width:70%;
margin: 0;
border: none;
border-radius: 5px;
padding: 16px 20px;
font-size: 15px;
background-color: #ededed;
}
#email{
    box-sizing: border-box;
  color: #6d6d6d;
  width:70%;
  margin: 0;
  border: none;
  border-radius: 5px;
  padding: 16px 20px;
  font-size: 15px;
  background-color: #ededed;
}
#password{
    box-sizing: border-box;
  color: #6d6d6d;
  width: 70%;
  margin: 0;
  border: none;
  border-radius: 5px;
  padding: 16px 20px;
  font-size: 15px;
  background-color: #ededed;
}
.but{
    margin-top: 32px;
    cursor: pointer;
    background-color: #249782;
    border: none;
    color: #fff;
    font-size: 16px;
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 12px;
    border-radius: 5px;
    gap: 10px;
}
.link{
  margin-top: 32px;
}