.welcome{
    margin-top: -110px;
    margin-bottom: 10px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 25px;
    line-height: 24px;

    color: rgba(0, 0, 0, 0.4);
}
#username{
    box-sizing: border-box;
    width: 400px;
    height: 43px;
    background: linear-gradient(180deg, rgba(0, 209, 255, 0.256) 0%, rgba(0, 209, 255, 0) 52.08%);
    border: 1px solid #000000;
    border-radius: 15px;
}
#fname{
    box-sizing: border-box;
    width: 400px;
    height: 43px;
    background: linear-gradient(180deg, rgba(0, 209, 255, 0.256) 0%, rgba(0, 209, 255, 0) 52.08%);
    border: 1px solid #000000;
    border-radius: 15px;
}
#lname{
    box-sizing: border-box;
    width: 400px;
    height: 43px;
    margin-top: 10px;
    background: linear-gradient(180deg, rgba(0, 209, 255, 0.256) 0%, rgba(0, 209, 255, 0) 52.08%);
    border: 1px solid #000000;
    border-radius: 15px;
}
#email{
    box-sizing: border-box;
    
    width: 400px;
    height: 43px;
    background: linear-gradient(180deg, rgba(0, 209, 255, 0.256) 0%, rgba(0, 209, 255, 0) 52.08%);
    border: 1px solid #000000;
    border-radius: 15px;
}
#pass1{
    box-sizing: border-box;
    width: 400px;
    height: 43px;
    background: linear-gradient(180deg, rgba(0, 209, 255, 0.256) 0%, rgba(0, 209, 255, 0) 52.08%);
    border: 1px solid #000000;
    border-radius: 15px;
}
#pass2{
    box-sizing: border-box;
    width: 400px;
    height: 43px;
    background: linear-gradient(180deg, rgba(0, 209, 255, 0.256) 0%, rgba(0, 209, 255, 0) 52.08%);
    border: 1px solid #000000;
    border-radius: 15px;
}
.username{
    width: 367px;
    height: 33px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    display: flex;
    align-items: center;
    text-align: center;

    color: #000000;

}
.fname{
    width: 367px;
    height: 33px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    display: flex;
    align-items: center;
    text-align: center;

    color: #000000;
}
.lname{
  
    width: 367px;
    height: 33px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    display: flex;
    align-items: center;
    text-align: center;

    color: #000000;

}
.email{
   
    width: 367px;
    height: 33px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    display: flex;
    align-items: center;
    text-align: center;

    color: #000000;

}
.pass1{
    
    width: 367px;
    height: 33px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    display: flex;
    align-items: center;
    text-align: center;

    color: #000000;

}
.pass2{
   
    width: 367px;
    height: 33px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    display: flex;
    align-items: center;
    text-align: center;

    color: #000000;

    
}
.profile{
   
    width: 367px;
    height: 33px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    display: flex;
    align-items: center;
    text-align: center;

    color: #000000;

}
.but{
    box-sizing: border-box;
    margin-left: 260px;
    width: 141px;
    height: 45px;

    background: linear-gradient(180deg, rgba(0, 209, 255, 0) 0%, #00D1FF 100%);
    background-blend-mode: hard-light;
    border: 1px solid #000000;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
}