body {
  background-color: #1a1a1a;
  color: #fff;

  font-size: 14px;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.coverphoto img{
  position: absolute;
  width: 1119px;
  height: 182px;
  left: 320px;
  top: 113px;
  border-radius: 20px;
}
.cover{
  position: absolute;
  width: 141px;
  height: 32px;
  left: 1290px;
  top: 122px;

  background: rgba(124, 130, 255, 0.31);
  border-radius: 20px;
  color: #00D1FF;
}
.bigprofile img{
  position: absolute;
  width: 130px;
  height: 130px;
  left: 380px;
  top: 236px;
  border-radius: 20px;
}
.name{
  position: absolute;
  width: 668px;
  height: 45px;
  left: 530px;
  top: 296px;

  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  display: flex;
  align-items: center;
  text-align: center;


}
.change{
  position: absolute;
  width: 99px;
  height: 22px;
  left: 390px;
  top: 373px;

  font-family: 'Inter';
  font-weight: 500;
  font-size: 15px;
  line-height: 18px;
  display: flex;
  align-items: center;
  text-align: center;

  color: #0057FF;
}
.delete{
  position: absolute;
  width: 99px;
  height: 22px;
  left: 466px;
  top: 373px;

  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 18px;
  display: flex;
  align-items: center;
  text-align: center;

  color: #0057FF;
}

.meetingidlble{
  position: absolute;
  width: 668px;
  height: 45px;
  left: 375px;
  top: 450px;

  font-family: 'Inter';
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  display: flex;
  align-items: center;
  text-align: center;

}
.emaillble{
  position: absolute;
  width: 668px;
  height: 45px;
  left: 375px;
  top: 500px;

  font-family: 'Inter';
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #fff;
}
.timezonelble{
  position: absolute;
  width: 668px;
  height: 45px;
  left: 375px;
  top: 550px;

  font-family: 'Inter';
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  display: flex;
  align-items: center;
  text-align: center;

}
.passwordlble{
  position: absolute;
  width: 668px;
  height: 45px;
  left: 375px;
  top: 600px;

  font-family: 'Inter';
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  display: flex;
  align-items: center;
  text-align: center;
}
.languagelble{
  position: absolute;
  width: 668px;
  height: 45px;
  left: 375px;
  top: 650px;

  font-family: 'Inter';
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  display: flex;
  align-items: center;
  text-align: center;

}
.meetingid{
  position: absolute;
  width: 668px;
  height: 45px;
  left: 700px;
  top: 450px;

  font-family: 'Inter';
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  display: flex;
  align-items: center;
  text-align: center;

}
.email{
  position: absolute;
  width: 668px;
  height: 45px;
  left: 700px;
  top: 500px;

  font-family: 'Inter';
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  display: flex;
  align-items: center;
  text-align: center;
}
.timezone{
  position: absolute;
  width: 668px;
  height: 45px;
  left: 700px;
  top: 550px;

  font-family: 'Inter';
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  display: flex;
  align-items: center;
  text-align: center;

}
.password{
  position: absolute;
  width: 668px;
  height: 45px;
  left: 700px;
  top: 600px;

  font-family: 'Inter';
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  display: flex;
  align-items: center;
  text-align: center;
}
.language{
  position: absolute;
  width: 668px;
  height: 45px;
  left: 700px;
  top: 650px;

  font-family: 'Inter';
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  display: flex;
  align-items: center;
  text-align: center;

}